<!-- Secondary Navbar items -->
<div class="hidden md:flex items-center space-x-3 ">
  <a href="" class="py-2 px-2 font-medium text-white rounded hover:text-blue-700 md:dark:hover:bg-transparent">Edit</a>
  <a href="" class="py-2 px-2 font-medium text-white rounded hover:text-blue-700 md:dark:hover:bg-transparent">Logout</a>
</div>