<ul class="">
  <li class="active">
    <a href="#" class="py-2 px-2 font-medium text-white rounded hover:text-blue-700 md:dark:hover:bg-transparent">Edit</a>
  </li>
  <li>
    <a href="#" class="py-2 px-2 font-medium text-white rounded hover:text-blue-700 md:dark:hover:bg-transparent">Logout</a>
  </li>
</ul>