<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
  <%= render links_partial_path %>
  <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
          menu.classList.toggle("hidden");
      });
  </script>
</nav>