<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <%= render 'layouts/navigation/header' %>
  </div>
  <!-- mobile menu -->
  <div class="hidden mobile-menu">
    <%= render 'layouts/navigation/collapsible_elements' %>
  </div>
  <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
          menu.classList.toggle("hidden");
      });
  </script>
</nav>